* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.wrap{
		width: 35px;
		height: 5px;
		background-color: black;
		margin: 6px 0;
	  }
html {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.roboto-thin {
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.roboto-light {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.roboto-regular {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.roboto-medium {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.roboto-bold {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.roboto-black {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-style: normal;
}

h1 {
	font-size: 50px;
	font-weight: 500;
	line-height: 66px;
}
ul {
	list-style-type: none;
}
.button-primary {
	width: 160px;
	height: 26px;
	background-color: #111b47;
	color: aliceblue;
}
.button-secondary {
	width: 160px;
	height: 26px;
	background-color: #f9f9f9;
	color: #111b47;
}
.bg-img {
	background-image: url(./assets/image/Path.png);
	background-repeat: no-repeat;
	background-position: right;
}
.nav {
	text-align: center;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
}
.nav-item {
	width: 100%;
}
.nav-flex {
	font-style: roboto;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #505f98;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.nav-2 {
	font-style: Roboto;
	font-size: 26px;
	font-weight: 900;
	color: #37447e;
	line-height: 38 px;
}

.nav-item button:active {
	scale: 2;
}
.hero {
	padding-top: 160px;
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
}
.hero .hero-img img {
	/* width: 974.86px; */
	height: 500px;
	object-fit: contain;
	display: flex;
	justify-content: flex-end;
}
.hero .hero-pg {
	padding: 0 163.12px;
}
.hero .hero-pg h1 {
	margin-bottom: 20px;
	color: #091133;
}
.hero .hero-pg p {
	margin-bottom: 20px;
}
.hero .hero-buttons button {
	/* margin-bottom: 20px; */
	padding-right: 10px;
}

.any {
	padding-top: 160px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.any .any-img img {
	/* width: 974.86px; */
	/* height: 780px; */
	object-fit: none;
	display: flex;
	justify-content: flex-end;
}
.any .any-pg {
	padding: 0 165px;
}
.any .any-pg h1 {
	margin-bottom: 16px;
	color: #091133;
}
.hehe {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* Media Query for Mobile Devices
@media (max-width: 480px) {
	body {
		background-color: red;
	}
}
 
Media Query for low resolution  Tablets, Ipads
@media (min-width: 481px) and (max-width: 767px) {
	body {
		background-color: yellow;
	}
}
 
/* Media Query for Tablets Ipads portrait mode */
/* @media (min-width: 768px) and (max-width: 1024px){
	body {
		background-color: blue;
	}
} */

/* Media Query for Laptops and Desktops */
@media (max-width: 1100px) {
	.hero {
		flex-direction: column;
	}
	/* .hero .hero-img {
		height: 50px;
		width: 70px;
	} */
	.any {
		flex-direction: column;
	}
	.header nav-items .nav-2 {
		justify-content: left;
	}
}

/* Media Query for Large screens
@media (min-width: 1281px) {
	body {
		background-color: white;
	}
}  */
.lastpg {
	text-align: center;
	padding-top: 160px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero-lastpg {
	padding: 0 165px;
}
.lastpg {
	background-image: url(./assets/image/Rectangle.png);
	background-repeat: no-repeat;
	background-position: top;
	/* width: 2546.93px;
	height: 983px;
	 top: 3607.39px;
	left: -620.29px; */
}
.button-primary2 {
	align-items: center;
	width: 189px;
	height: 32px;
	background-color: #111b47;
	color: aliceblue;
	margin-bottom: 173px;
}
.hero-lastpgh1 {
	margin-top: 35.82px;
	align-items: center;
}
.hero-sos {
	margin-top: 60px;
}
.hero-pg1 {
	margin-top: 16px;
}
footer {
	padding: 0 60px;
}
.fan-ke {
	/* text-align: center; */
	display: flex;
	/* width: 100%;
	justify-content: space-evenly;
	align-items: center;
	padding: 12px; */
}
ul {
	list-style-type: none;
}

.fan-ke-flex {
	font-style: roboto;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #505f98;
	display: flex;
	align-items: center;
}
/* .fan-ke nav-2 {
	font-style: Roboto;
	font-size: 26px;
	font-weight: 900;
	color: #37447e;
	line-height: 38 px;
} */

.fan-button button:active {
	scale: 2;
}
.fan-items {
	font-style: roboto;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #505f98;
	display: flex;
	align-items: center;
}
.fan-top {
	text-align: center;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
}
.fan-top nav-2 {
	justify-content: center;
	font-style: Roboto;
	font-size: 26px;
	font-weight: 900;
	color: #37447e;
	line-height: 38 px;
}
.fan-ke-flex {
	width: 100%;
}

.socialicons {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	gap: 20px;
}
.list {
	padding: 0 60px;
}
