* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.roboto-thin {
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.roboto-thin-italic {
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	font-style: italic;
}

.roboto-light {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.roboto-light-italic {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: italic;
}

.roboto-regular {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.roboto-regular-italic {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.roboto-medium {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.roboto-medium-italic {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: italic;
}

.roboto-bold {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.roboto-bold-italic {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-style: italic;
}

.roboto-black {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.roboto-black-italic {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-style: italic;
}

body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	font-size: 50px;
	font-weight: 700;
}

h5 {
	font-size: 26px;
	font-weight: 700;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding: 8px 8px;
}

.nav .left {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav .left li {
	padding: 0 60px;
}

.nav div {
	width: 100%;
}

.nav .left {
	font-size: 14px;
	color: #505F98;
}

.nav .middle h1 {
	font-size: 26px;
	color: #37447E;
}

.nav .right button {
	background-color: #111B47;
	height: 26px;
	width: 160px;
	font-size: 12px;
	color: white;
}